* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: blue;
    background-color: red;
}

section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: yellow;
}

article {
  width: 33%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: aqua;
}

article > div {
  border:1px solid black;
}

.login #preferance {
  width: 50%;
  margin: 0auto;
  padding: 15px;
  border: 1px solid black;
}

